* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: #1F2937;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 2em;
    max-width: 1000px;

    color: white;
}

header nav {
    display: flex;
    gap: 1em;
}

header a {
    color: #E5E7EB;
    text-decoration: none;

    transition: 0.2s;
}

header a:hover {
    color: #E5E7EB;
    filter: opacity(0.75);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;

    background-color: white;
}

.content-wrapper:nth-of-type(1) {
    padding-top: 0;
}

.content-wrapper .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    gap: 2em;

    padding: 2em;
}

.content-wrapper.hero .content div {
    flex-basis: 50%;
    flex-shrink: 1;
}

.content-wrapper.info .content h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.content-wrapper.hero {
    color: white;
    background-color: #1F2937;
}

.content-wrapper.hero .content {
    flex-direction: row;
    flex-flow: row wrap-reverse;
}

.content-wrapper.hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.content-wrapper.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.content-wrapper.hero img {
    width: auto;
    max-height: 300px;

    border-radius: 10px;
    border: 2px solid #E5E7EB;

    object-fit: cover;

    flex: 1;
}

.content-wrapper.hero button {
    padding: 1em 2em;
}

.content-wrapper.quote {
    background: #E5E7EB;
}

button {
    border-radius: 10px;
    border: none;
    padding: 0.5em 2em;
    font-size: 1em;
    color: white;
    background-color: #3882F6;
    transition: 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: #2e6bcd;
}

.gallery {
    display: flex;
    justify-content: space-between;
    gap: 4em;
}

.gallery img {
    width: auto;
    height: 100%;
    max-height: 200px;
    border-radius: 10px;
    border: 4px solid #2e6bcd;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2em 0;

    color: #E5E7EB;
}

.content-wrapper.quote blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;

    margin: 0;
}

.content-wrapper.quote p:before {
    content: "— ";
}

.content-wrapper.quote p {
    font-size: 2em;
    font-weight: 900;
    color: #1F2937;
    text-align: right;
    display: block;
    width: 100%;

    margin: 0;
}

.content-wrapper.action .content {
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    background: #3882F6;
    color: #F9FAF8
}

.content-wrapper.action button {
    border: 2px solid white;
}